body {
  background-color: #dcbb9a; }
  body #content {
    display: block;
    max-width: 1000px;
    margin: 1% auto;
    background-color: #ffffff;
    padding: 20px; }
    body #content h1, body #content h2 {
      color: #893c00; }
    body #content h1 {
      text-align: center;
      text-transform: none; }
    body #content p {
      color: #000000; }
    body #content .img-left {
      float: left;
      outline: 2px solid #893c00;
      outline-offset: 2px;
      margin: 4px 20px 15px 4px; }
    body #content .brief {
      display: block;
      float: left;
      width: 380px;
      padding: 20px;
      margin: 0 20px 5px 0;
      background-color: #fadcba; }
    body #content .img-right {
      float: right;
      outline: 2px solid #893c00;
      outline-offset: 2px;
      margin: 4px 4px 4px 20px; }
    body #content a {
      color: #3d70a1; }
    body #content table {
      margin-bottom: 40px;
      border-spacing: 0; }
      body #content table caption {
        text-align: right; }
      body #content table tr {
        height: 40px;
        background-color: #ffffff; }
        body #content table tr:first-child {
          background-color: #e0e0e0;
          border-bottom: none;
          text-transform: uppercase; }
          body #content table tr:first-child th {
            padding-left: 20px;
            text-align: left; }
            body #content table tr:first-child th:not(:last-child) {
              border-right: 1px solid #ffffff; }
        body #content table tr td {
          padding-left: 20px;
          color: #000000;
          border-bottom: 1px solid #e0e0e0; }
    body #content ul {
      padding-left: 0; }
      body #content ul li {
        list-style: none;
        display: block;
        padding-bottom: 15px; }
        body #content ul li label {
          color: #808080; }
        body #content ul li input {
          height: 30px;
          width: 100%;
          margin-top: 10px;
          padding-left: 5px;
          color: #808080;
          border: 1px solid #808080;
          box-sizing: border-box; }
          body #content ul li input[type="submit"] {
            width: 240px;
            height: 40px;
            background-color: #ffffff;
            color: #3d70a1;
            border: 1px solid #3d70a1;
            text-transform: uppercase; }
        body #content ul li.user-name {
          display: flex;
          justify-content: space-between; }
          body #content ul li.user-name p {
            width: 49%;
            margin: 0;
            padding: 0; }
        body #content ul li textarea {
          width: 100%;
          height: 160px;
          margin-top: 10px;
          padding-left: 5px;
          box-sizing: border-box;
          border: 1px solid #808080; }
