/* reseting default browsers styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000; }

/* HEADER Styles */
.header {
  position: relative;
  height: 99vh;
  background-image: url(../img/apples.jpg);
  background-size: cover;
  background-position: center; }
  .header .header-caption {
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
    color: #fff; }
    .header .header-caption p {
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 5px; }
    .header .header-caption .header-nav {
      display: inline-block;
      position: absolute;
      right: 0; }
      .header .header-caption .header-nav a {
        color: #fff;
        text-decoration: none;
        font-weight: normal;
        font-size: 16px; }
        .header .header-caption .header-nav a:not(:last-child) {
          margin-right: 40px; }
      .header .header-caption .header-nav a {
        padding: 0 5px 10px; }
        .header .header-caption .header-nav a:hover {
          border-bottom: 2px solid #B7C8D9; }
      .header .header-caption .header-nav .active-menu-item {
        border-bottom: 2px solid #B7C8D9; }
  .header .header-textbox {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%); }
    .header .header-textbox .heading-primary {
      color: #fff;
      display: block;
      text-transform: uppercase;
      font-size: 36px;
      font-weight: 300;
      letter-spacing: 10px; }
      .header .header-textbox .heading-primary .heading-primary-ampersand {
        font-size: 70px; }
      .header .header-textbox .heading-primary .heading-primary-trade {
        font-size: 20px;
        letter-spacing: 0;
        margin-left: -20px; }
    .header .header-textbox .heading-secondary {
      color: #fff;
      font-size: 16px;
      text-transform: capitalize;
      font-weight: 300; }
  .header .header-button {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    width: 190px;
    height: 60px;
    background-color: rgba(52, 54, 56, 0.788);
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff; }

.description-block {
  width: 80%;
  margin: 120px auto; }
  .description-block::after {
    content: "";
    display: table;
    clear: both; }
  .description-block .lorem-big {
    float: left;
    font-weight: normal;
    width: 48%;
    font-size: 20px; }
  .description-block .lorem-small {
    float: right;
    width: 48%;
    font-size: 12px; }

.gallery-block {
  background-color: #f3f3f3;
  padding-bottom: 70px; }
  .gallery-block h4 {
    font-weight: normal;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 70px;
    font-size: 20px; }
  .gallery-block .gallery-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px;
    color: #fff; }
    .gallery-block .gallery-container .gallery-container-item {
      position: relative; }
      .gallery-block .gallery-container .gallery-container-item p {
        position: absolute;
        padding-bottom: 0;
        bottom: 20px;
        left: 20px;
        font-size: 16px; }
      .gallery-block .gallery-container .gallery-container-item .likes-box {
        position: absolute;
        padding: 5px 10px;
        top: 20px;
        right: 20px;
        font-size: 12px;
        font-weight: 400;
        background: #343638;
        border: 2px solid #fff; }
        .gallery-block .gallery-container .gallery-container-item .likes-box span {
          font-size: 14px;
          padding-left: 3px;
          color: #fff; }
      .gallery-block .gallery-container .gallery-container-item:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(52, 54, 56, 0.5)); }
    .gallery-block .gallery-container .big-item-1, .gallery-block .gallery-container .big-item-2 {
      grid-column: span 2; }
    .gallery-block .gallery-container .big-item-1 {
      background: url(../img/sample.jpg); }
    .gallery-block .gallery-container .big-item-2 {
      background: url(../img/sample3.jpg); }
    .gallery-block .gallery-container .small-item {
      background: url(../img/sample2.jpg); }

.search-block {
  background-color: #f3f3f3;
  padding-bottom: 120px; }
  .search-block .search-conrainer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 5%;
    background-color: #fff; }
    .search-block .search-conrainer h4 {
      font-weight: normal;
      display: inline-block;
      font-size: 20px;
      margin-right: 5%; }
    .search-block .search-conrainer input {
      height: 60px;
      width: 35%;
      background-color: #f3f3f3;
      border: 1px solid #343638;
      color: #000;
      padding-left: 3%; }
    .search-block .search-conrainer button {
      height: 60px;
      width: 120px;
      background-color: #343638;
      color: #fff;
      text-align: center;
      border: none;
      margin-left: -5px; }
    .search-block .search-conrainer input::placeholder {
      color: #000; }

.min-content-block {
  padding-top: 100px; }
  .min-content-block .content-container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr 1.2fr;
    grid-column-gap: 5%;
    border-bottom: 2px solid #F0F0F0; }
    .min-content-block .content-container .content-container-item h4 {
      font-weight: 600i;
      padding-bottom: 15px; }
    .min-content-block .content-container .content-container-item p {
      color: #9E9E9E;
      font-size: 14px;
      font-weight: 400;
      padding-bottom: 5px; }
    .min-content-block .content-container .content-container-item .subscr-item {
      width: 100%;
      margin-top: 15px; }
      .min-content-block .content-container .content-container-item .subscr-item input {
        height: 40px;
        width: 60%;
        background-color: #f3f3f3;
        border: 1px solid #343638;
        color: #000;
        padding-left: 3%; }
      .min-content-block .content-container .content-container-item .subscr-item button {
        height: 40px;
        width: 39%;
        background-color: #343638;
        color: #fff;
        text-align: center;
        border: none;
        margin-left: -5px; }
      .min-content-block .content-container .content-container-item .subscr-item input::placeholder {
        font-style: italic; }
    .min-content-block .content-container .content-container-item:nth-child(3) p {
      font-style: italic; }
      .min-content-block .content-container .content-container-item:nth-child(3) p span {
        font-style: normal;
        color: #E8E8E8; }

footer {
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding: 30px 0; }
  footer p {
    display: inline-block;
    color: #9E9E9E;
    font-size: 14px;
    font-weight: 400; }
  footer .footer-nav {
    display: inline-block;
    position: absolute;
    right: 0; }
    footer .footer-nav a {
      color: #000;
      text-decoration: none;
      font-weight: bold;
      font-size: 14px; }
      footer .footer-nav a:not(:last-child) {
        margin-right: 40px; }
