//color variables
$white-color: #ffffff;
$body-color: #dcbb9a;
$font-color: #000000;
$background-color: #ffffff;
$headers-border-color: #893c00;
$text-block-color: #fadcba;
$link-color: #3d70a1;
$table-header-color: #e0e0e0;
$table-body-color: #ffffff;
$form-label-color: #808080;
$form-text-color: #808080;
$form-border-color: #808080;

//other styles
$h1-text: none;
$brief-width: 380px;
$brief-float: left;
$brief-margin: 0 20px 5px 0;