//color variables
$white-color: #ffffff;
$body-color: rgba(198, 238, 252, 0.53);
$font-color: #ffffff;
$background-color: #3b3b3b;
$headers-border-color: #fccd10;
$text-block-color: #fff178;
$link-color: #f5c70f;
$table-header-color: #94a34e;
$table-body-color: #677d01;
$form-label-color: #f5c70f;
$form-text-color: #808080;
$form-border-color: #94a34e;

//other styles
$h1-text: uppercase;
$brief-width: none;
$brief-float: none;
$brief-margin: 0 0 45px 0;